
<h2>Detalhamento de livro</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Nome:</b>
  <%= @usuario.name %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Voltar', usuarios_path %>
