 <br/>
 <h3> Pesquisar livro </h3>
 <% form_tag livros_path, method: :get do %>
    
  
     <%= label_tag :codigo %>
     <%= text_field_tag :codigo %>
     <%= label_tag :titulo %>
     <%= text_field_tag :titulo %>
     <%= label_tag :autor %>
     <%= text_field_tag :autor %>
     <%= submit_tag 'Pesquisar' %>
    

  <% end %>

<% if @livros.any? %>
  <% bgcolor = "#9CC" %>
  <br/>
   <table>
    <tr bgcolor=<%= bgcolor %> >
      <th>Código</th>
      <th>Título</th>
      <th>Autor</th>
      <th>Situação</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  
   <% @livros.each do |livro| %>
     <% if bgcolor == "#9CC" then 
        bgcolor = "#FFF"
        else bgcolor = "#9CC" 
        end
     %>
  <tr bgcolor=<%=bgcolor %>>
    <td><%= livro.codigo %></td>
    <td><%= livro.titulo %></td>
    <td><%= livro.autor %></td>
    <% if livro.emprestimo_atual %>
      <td>Emprestado</td>
      <td><%= link_to 'Devolver', livro_emprestimo_path(livro, livro.emprestimo_atual), confirm: 'Devolver livro?', method: :delete %></td>
    <% else %>  
      <td>Disponível</td>
      <td><%= link_to 'Empréstimo', new_livro_emprestimo_path(livro), confirm: 'Confirmar empréstimo?' %></td>
    <% end %>
    <td><%= link_to 'Detalhes', livro %></td>
    <td><%= link_to 'Editar', edit_livro_path(livro) %></td>
    <td><%= link_to 'Apagar', livro, confirm: 'Está certo disso?', method: :delete %></td>
  </tr>
 <% end %>
 </table>
<% end %> 


<br />

<%= link_to 'Cadastrar livro', new_livro_path %>
<br />

<%= link_to 'voltar', root_path %>

